@media (max-width: 1619px) {
  .banner_area .box_1620 {
    border-radius: 0px;
  }
}
@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .home_banner_area {
    min-height: 728px;
    margin-bottom: 120px;
  }
  .home_banner_area .banner_inner {
    min-height: 650px;
  }
  .header_area .navbar .nav .nav-item.submenu ul {
    left: auto;
    right: 0px;
  }
  .banner_content .media {
    display: block;
  }
  .home_banner_area .banner_content {
    max-width: 500px;
    margin: auto;
  }
  .home_banner_area .banner_inner .banner_content .media .d-flex {
    padding-right: 0px;
    display: block;
    width: 100%;
  }
  .home_banner_area .banner_inner .banner_content .media .d-flex img {
    width: 100%;
    height: 100%;
  }
  .home_banner_area .banner_inner .banner_content .media .media-body {
    margin-top: 30px;
  }
  .home_banner_area .box_1620 {
    bottom: -130px;
  }
  .profile_inner .personal_text {
    padding-left: 0px;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }

  .header_area .navbar {
    background: #000;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    position: relative;
    bottom: 6px;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 17px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .header_area .navbar.nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 0px;
  }
}
