body{
  color: #666666;
  background: #F6D155;
  font-family: 'Open Sans', sans-serif;
}
a{ 
  color: #222222;
  transition: all .3s;
}
a:hover,
a:active ,
a:focus {
   color: #FF6F61;
   outline: none;
   text-decoration: none;
}
/********************************/
/******Layout with sidebar ******/
/********************************/
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.wrapper .sidebar{
  position: relative;
  width: 100%;
  float: left;
  background: #222222;
}

.wrapper .details {
  position: relative;
  width: 100%;
  float: left;
  background: #F6D155;
}

.wrapper .sidebar-header,
.wrapper .sidebar-footer{
  display: none;
}

.navbar {
  padding: 15px;
  background: #222222 !important;
}
