.body{

  color: hsl(0, 0%, 3%);
  background:#F6D155;
  font-family: 'Open Sans', sans-serif;
}
.img{
  float: left;
}
.column{
  font-family: Arial, Helvetica, sans-serif;
  color: fuchsia;
  font-size: 14px;
}
.ReachOut{
  display: inline-block;
  width: 40px;
  text-align: center;
}
.Firstpage {
  background-color: #F6D155;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
.Secondpage{
  background-color: chartreuse;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
}
.Thirdpage{
  background-color: deepskyblue;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.a{ 
  color: #222222;
  transition: all .3s;
}
.a:hover,
.a:active ,
.a:focus {
   color: #FF6F61;
   outline: none;
   text-decoration: none;
}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar {
  padding: 15px;
  background: #222222 !important;
}
